    <!-- Sidebar  -->
    <div class="wrapper">
		<div class="sidebar">
			<h2><a href="/" style="color:white;"><i></i>Category</a></h2>
			<ul>
				<li><a href="image"><i</i>Image</a></li>
                <li><a href="campaign"><i></i>Campaign</a></li>
                <li><a href="source"><i</i>Source</a></li>
			</ul>
		</div>
		
	</div>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="navbar-right">
		<a href="contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
		<a href="login"><i class="fa fa-fw fa-user"></i> Login</a>		
	</div>


	<h1 class="generator">FILE NAME GENERATOR</h1>

